<section fxLayout fxLayoutAlign="center" class="new-training">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">Time to start!</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!loading">
          <mat-label>Exercises</mat-label>
          <mat-select ngModel name="exercise" required>
            <mat-option
              *ngFor="let exercise of exercises"
              [value]="exercise.name"
              >{{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center" *ngIf="!loading">
        <button
          *ngIf="exercises"
          type="submit"
          mat-button
          [disabled]="f.invalid"
        >
          Start
        </button>
        <button
          *ngIf="!exercises"
          type="button"
          mat-button
          [disabled]="f.invalid"
          (click)="fetchExercises()"
        >
          Fetch Again
        </button>
        <mat-spinner *ngIf="loading"></mat-spinner>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
