<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">NG Fitness</a></div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.xs fxHide.>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li><a *ngIf="!isAuth" routerLink="signup">Signup</a></li>
      <li><a *ngIf="!isAuth" routerLink="login">Login</a></li>
      <li><a *ngIf="isAuth" routerLink="training">Training</a></li>
      <li>
        <a *ngIf="isAuth" (click)="onLogout()" style="cursor: pointer"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</mat-toolbar>
